<!DOCTYPE html>
<html>
    <head lang="EN">
        <link rel="stylesheet" href="file://common.css">
        <link rel="stylesheet" href="file://tokens.css">
    </head>

    <body>

        {# Characters #}
        <div class="cols-auto" style="column-width: {{character_size}}">
            {%- for character in characters %}
                <div class="token-box" style="height: {{character_size}}; width: {{character_size}}">
                    <img src="{{character.name}}" class="name">
                    <img src="{{token_background}}" class="token">
                    <div class="icon-box"><img src="{{character.icon}}" class="icon"></div>
                    <div class="ability{{character.fontsize}}">{{ character.ability }}</div>
                    {%- if character.setup %}<img src="{{character.setup}}" class="decoration">{%- endif %}
                    {%- if character.first %}<img src="{{character.first}}" class="decoration">{%- endif %}
                    {%- if character.other %}<img src="{{character.other}}" class="decoration">{%- endif %}
                    {%- if character.reminders %}<img src="{{character.reminders}}" class="decoration">{%- endif %}
                </div>
            {%- endfor %}
        </div>

        <p style="page-break-before: always" ></p>

        {# Reminders #}

        <div class="cols-auto" style="column-width: {{reminder_size}}">
            {%- for reminder in reminders %}
                <div class="reminder" style="height: {{reminder_size}}; width: {{reminder_size}}">
                    <img src="{{reminder.text}}" class="name">                   
                    <div class='icon-box-reminder'><img src="{{reminder.icon}}" class="icon"></div>
                </div>
            {%- endfor %}
        </div>

    </body>
</html>